.rank_tr{
    -webkit-transition:color 2s, background-color 2s, -webkit-transform 2s;
    transition:color 2s, background-color 2s, transform 2s;
}
.rank_tr:hover{
    background-color: white;
    color:black;
}
table{
    position: relative;
    z-index: 9999;
}